* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #9792E4;
}

.section {
    /* SOLO PER DEBUG */
    padding: 2rem;
}

.container {
    width: 980px;
    margin: 0 auto;
    /* SOLO PER DEBUG */
    padding: 2rem;
    border: 1px dashed red;
}

.bg-primary {
    background-color: var(--color-primary);
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.col {
    flex-grow: 1;
    flex-basis: 0;
}

.col-1 {
    flex-basis: calc(100% / 3 - 1rem);
}

.col-2 {
    flex-basis: calc((100% / 3) * 2 - 1rem);
}

.card {
    /* SOLO DEBUG */
    min-height: 100px;
    background-color: red;
    border-radius: 20px;
}

.card2 {
    /* SOLO DEBUG */
    min-height: 100px;
    background-color: blue;
    border-radius: 20px;
}